.bg-dark {
    background-color: black;
}

.text-white {
    color: white;
}

.text-bold {
    font-size: 50px;
}

.buttons-white button, .buttons-white div  {
    border-color: white;
    color: white;
}

.shopping-cart{
    position: fixed;
    right: 10px;
    top: 0px;
}